<div class="container">
    <div>
        <table class="table" *ngIf="users">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.iduser}}</td>
                    <td>{{u.firstname}}</td>
                    <td>{{u.lastname}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.password}}</td>
                    <td>{{u.role}}</td>
                    <td>
                        <button class="btn btn-success"  (click)="EditMarque(u)">Modifier</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>