<!--<div [hidden]="submitted" style="width: 400px;" class="col-md-6 user-container">
    <h2 class="text-center">Add Child</h2>
    <form  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" formControlName="firstname" required [(ngModel)]="child.firstname" placeholder="firstname" name="firstname" class="form-control" id="firstname">
      </div>
  
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="lastname" formControlName="lastname" required [(ngModel)]="child.lastname" placeholder="lastname" name="lastname" class="form-control" id="lastname">
      </div>
  
      <div class="form-group">
        <label for="old">Age :</label>
        <input type="number" formControlName="old" required [(ngModel)]="child.old" placeholder="old" name="old" class="form-control" id="old">
      </div>
  
      <div class="form-group">
        <label for="sexe">sexe:</label>
        <input formControlName="sexe" required [(ngModel)]="child.sexe"  placeholder="sexe" name="sexe" class="form-control" id="sexe">
      </div>
  
      <div class="form-group">
        <label for="datenaissance">Date naissance:</label>
        <input formControlName="datenaissance"required  [(ngModel)]="child.datenaissance"   placeholder="datenaissance" name="datenaissance" class="form-control" id="datenaissance">
      </div>
      <div class="form-group">
        <label for="ville">Ville:</label>
        <input formControlName="ville" required [(ngModel)]="child.ville" placeholder="ville" name="ville" class="form-control" id="ville">
      </div>
      <div class="form-group">
        <label for="adress">Adresse:</label>
        <input formControlName="adress" required [(ngModel)]="child.adress" placeholder="adress" name="adress" class="form-control" id="adress">
      </div>
      <div class="form-group">
        <label for="imageUrl">Image:</label>
        <input formControlName="imageUrl" required [(ngModel)]="child.imageUrl" placeholder="imageUrl" name="imageUrl" class="form-control" id="imageUrl">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input  formControlName="description" required [(ngModel)]="child.description" placeholder="description" name="description" class="form-control" id="description">
      </div>
  
      <button class="btn btn-success">Add</button>
    </form>
  </div>-->
  <!--<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
   
  </div>-->