

<header>
  
    <!--    user Panel  -->
    <div  class="header-area ">
      <div class="header-top_area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-md-12 col-lg-8" >
              <div class="short_contact_list">
                <ul>
  
                  <li><a routerLink="/register"> <i class="fa fa-phone"></i> Register</a></li>
                  <li><a routerLink="/login"> <i class="fa fa-envelope"></i>Login</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-4">
             
            </div>
          </div>
        </div>
      </div>
      <div id="sticky-header" class="main-header-area">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
              <div class="logo">
                <a href="/home">
                  <img src="assets/img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9">
              <div class="main-menu">
                <nav>
                  <ul id="navigation">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user">view Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/child">view Children</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">   Logout</a>
                    </li>
                  </ul>
                </nav>
                <div class="Appointment">
                  <div class="book_btn d-none d-lg-block">
                    <a data-scroll-nav='1' routerLink="/donate">Make a Donate</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header-end -->